<%= link_to 'Show all', :boards %>
<h2>Story detail</h2>
<p>
  <strong>Title:</strong>
  <%= @story.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @story.body %>
</p>

<h3>Tasks for this story</h3>
